<html>
    <head>
        <title>
        <%= locals.title %>
        </title>
        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body id="main">
        <h1 id="page-heading">CONTACTS LIST</h1>
        <div id="contacts-list-container">
            <ul>
                <% for (let i of contact_list) {%>
                   <div id="div1">
                    <li class="contact">
                        <div class="details">
                        <p><%= i.name %></p>
                        <p><%= i.phone %></p>
                        </div>
                        <div class="delete-button">
                            <a id="del" href="/delete-contact/?id=<%= i._id %>">X</a>
                        </div>
                    </li>
                    </div>
                    <% } %>
            </ul>
        </div>
        <form action="/create-contact" method="POST">
            <input type="text" name="name" placeholder="enter name" required>
            <input type="number" name="phone" placeholder="enter phone" required>
            <button type="submit">Add Contacts</button>
        </form>
        <!--trying to implement search-->
        <form action="/search-contact" method="POST">
            <input type="text" name="nameid" placeholder="enter name" required>
            <button type="submit">Search Contacts</button>
        </form>
        <script type="text/javascript" src="/js/home.js">
        </script>
    </body>
</html>